# Derselbe Atlas-Connection-String wie beim Backend.
# Die Skripte ersetzen den DB-Namen automatisch durch
# "issuetracker_playground" - die echte issuetracker-DB bleibt unberuehrt.
MONGODB_URI=mongodb+srv://UUU:PPP@cluster0.XXX.mongodb.net/issuetracker?retryWrites=true&w=majority
